* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.a1 a {
    margin-left: 15px;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}


.tituloimportarnunca {
   text-align: center;
}

.tituloprincipal {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 40px;

    font-size: 55px;
    margin-bottom: 1%;

}
.tituloimportarnunca {
   text-align: center;

}

.tituloimportar {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.tituloimportar2 {
    margin-top: 20px;
    font-size: 20px;
}
.divmaeimportanuncafoitaofacil {
    display: flex;
}
.numero01importar{
    color: white;
    background-color: rgb(0, 81, 255);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    margin-left: 100px
}
.divimportanuncafoitaofacil {
    background-color: white;
    border: 1.5px solid rgb(209, 209, 209);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    width: 400px;
    height: 230px;
    margin-left: 200px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.iconenumeroprimarioimportar {
    border-radius: 50px;
    margin-left: 330px;
    height: 40px;
}
.iconesecundarioimportar {
    border-radius: 10px;
    width: 50px;
    margin-top: 30px;

}
.textonegritoimportar {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.textoimportarn {
    margin-top: 20px;
    color: rgb(83, 83, 83);
}
.botao1p {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    background-color:rgb(255, 94, 0) ;
    color: aliceblue;
}
.botao2p {
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    background-color:white ;
    
}
.mãe {
    display: flex;
}
.textembaixo {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(123, 138, 150);
    font-weight: 10px;
}
.tp {
    margin-left: 15px;
}
.mãe h1 {
    color: blue;
}