:root {
    --background-color-header: rgba(255, 255, 255, 0.7);
    --color-header: rgba(66, 65, 65, 0.5);

    --color-black: black;
    --color-white: white;
    --color-azul: rgb(11, 92, 243);
    --color-grey: rgb(61, 61, 61);
    --color-cinza-claro: rgb(104, 103, 103);
    --transparente: transparent;
    --texto-embaixo: rgb(123, 138, 150);
    --color-linha: rgb(226, 226, 226);
    --background-button-laranja: rgb(255, 94, 0);
    --background-button1-inicio-hover: rgb(255, 137, 66);
    --color-button-inicio: aliceblue;
    --bacground-color-white: white;
    --tokito-cor: rgb(95, 0, 158);
    --tokito-corr: rgb(4, 4, 196);
    --tokito-co: aqua;
    --tokito-c: rgb(230, 104, 255);

    --boz-shadow-oreia-fraco: 0 10px 15px rgba(0, 0, 0, 0.2);
    --boz-shadow-oreia-forte: 0 4px 6px rgba(0, 0, 0, 0.3);

    --boz-shadow-oreia-fraco2:0 10px 15px rgba(0, 0, 0, 0.2);
    --boz-shadow-oreia-forte2: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tema-dark {
    --background-color-header: black;
    --color-header: rgb(185, 170, 170);

    --color-black: white;
    --color-white: black;
    --color-azul: rgb(11, 92, 243);
    --color-grey: rgb(141, 131, 131);

    --color-cinza-claro: rgb(216, 200, 200);

    --texto-embaixo: rgb(204, 214, 221);
    --color-linha: rgb(226, 226, 226);
    --background-button-laranja: rgb(255, 94, 0);
    --background-button1-inicio-hover: rgb(255, 137, 66);
    --color-button-inicio: aliceblue;
    --bacground-color-white: black;

    --boz-shadow-oreia-fraco: 0 10px 15px rgba(214, 203, 203, 0.76);
    --boz-shadow-oreia-forte:  0 4px 6px rgba(221, 206, 206, 0.4);

    --boz-shadow-oreia-fraco2:0 10px 15px rgba(214, 203, 203, 0.76);
    --boz-shadow-oreia-forte2: 0 4px 6px  rgba(221, 206, 206, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* inicio */
/*inicio tela de login*/
.bodycadastro {
    min-height: 100vh;
    background-color: #f6fdff;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 1rem;
}

.Cadastrodivconteiner {
    background-color: white;
    max-width: 400px;
    width: 90%;
   height: 400px;
    margin: auto;
    border-radius: 12px;
    padding-left: 2rem;
    border: 1px solid rgb(209, 209, 209, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.Cadastrodivconteiner img {
    display: block;
    margin: 30px auto 0 auto;
}

.Titulotechship {
    font-weight: bold;
    font-size: 1.875rem;
    text-align: center;
    margin: 0 auto 0.625rem;
    color: rgb(0, 132, 255);
}

.subtitulologin {
    font-size: 1.25rem;
    margin: 0 auto;
    text-align: center;
    color: rgb(121, 121, 121);
}
.buttoncadastro {
    display: block;
    margin-top: 1.25rem;
    margin-left: auto;
    width: 100%;
    height: 45px;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #0b5dbb, #00a1fe);
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 20px;
}
.buttoncadastro:hover {
    background: linear-gradient(to right, #0917d6, #065396);
}

.inputemaillogin {
    height: 45px;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
    font-size: 13px;
    padding-left: 40px;
    background-image: url(img/envelope.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 5px;
    transition: all 0.3s ease-out;

}
.inputsenhalogin {
    height: 45px;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
    font-size: 13px;
    padding-left: 40px;
    background-image: url(img/cadeado.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 5px;
    transition: all 0.3s ease-out;

}
.inputemaillogin:focus, .inputsenhalogin:focus,.inputnomecadastro:focus,.inputemailcadastro:focus,.inputsenhacadastro:focus {
    outline: none;
    border-color: #0b5dbb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px); 
}

.façalogincadastro {
text-align: center;
font-size: 13px;
color: rgb(121, 121, 121);
}

.linhacadastro {
    border: 0.1px solid rgb(190, 190, 190);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.a {
    text-decoration: none;
    color: #0b5dbb;
    font-weight: bold;
}

.a:hover {
    border-bottom: 2px solid #0b5dbb;
}
\*fim tela de login*/
/* Cadastro */
.bodycadastro {
    background-color: #f6fdff;
    display: block;
    justify-content: center;
    align-items: center;  
}

.Cadastrodivconteiner {
    background-color: white;
    height: 750px;
    width: 400px;
    margin:auto;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(209, 209, 209, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.Cadastrodivconteiner img {
    margin-top: 30px;
    margin-left: 140px;
}

.Titulotechship {
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 132, 255);
    margin-bottom: 1px;
    text-align: center;
}

.subtitulocadastro {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: rgb(121, 121, 121);
}

.nomecadastro {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(83, 83, 83);
    margin-bottom: 1px;
}

.inputnomecadastro, .inputemailcadastro, .inputsenhacadastro {
    height: 45px;
    width: 330px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
    font-size: 13px;
    padding-left: 40px;
    background-image: url(img/pessoa.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 5px;
    transition: all 0.3s ease-out;
}
.inputemailcadastro {
    background-image: url(img/envelope.png);
}
.inputsenhacadastro {
    background-image: url(img/cadeado.png);
}
.buttoncadastrol {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    height: 45px;
    width: 325px;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #0b5dbb, #00a1fe);
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 20px;
}
.buttoncadastro:hover {
    background: linear-gradient(to right, #0917d6, #065396);
}



.façalogincadastro {
text-align: center;
font-size: 13px;
color: rgb(121, 121, 121);
}

.linhacadastro {
    border: 0.1px solid rgb(190, 190, 190);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.a {
    text-decoration: none;
    color: #0b5dbb;
    font-weight: bold;
}

.a:hover {
    border-bottom: 2px solid #0b5dbb;
}

/*CadastroFim*/
/* inicio header */
.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color-header);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 0.1px solid rgb(236, 236, 236);
}

header h1 {
    font-family: sans-serif;
    margin-left: 70px;
    margin-top: 20px;
    color: var(--color-black);
}

.fundo {
    background-color: var(--bacground-color-white);
}

.a1 button {
    margin-left: 15px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--color-header);
    font-size: 20px;
    transition: color 0.3s ease;
    border: none;
    background-color: transparent;
    margin-top: 20px;
}

.a2:hover {
    color: var(--color-black);
}

.a3:hover {
    color: var(--color-black);
}

.a4:hover {
    color: var(--color-black);
}

.a5:hover {
    color: var(--color-black);
}

.a6:hover {
    color: var(--color-black);
}

/* fim header */
/*main*/

/*inicio*/
.botao1p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
    background-color: var(--background-button-laranja);
    color: var(--color-button-inicio);
    transition: all 0.8s ease;
}

.botao1p:hover {
    background-color: var(--background-button1-inicio-hover);
}

.botao2p {
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgb(148, 145, 145);
    padding: 10px 20px;
    background-color: var(--bacground-color-white);
    color: var(--color-black);
    transition: all 0.8s ease;
}

.botao2p:hover {
    background-color: var(--background-button-laranja);
    color: var(--color-button-inicio);
    border: none;
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.imageminicial img {
    margin-left: 80px;
    margin-top: 250px;
    width: 700px;
    height: 600px;
    animation: slideIn 1s ease-out;
    border-radius: 20px;
}

.mãe {
    margin-top: 20px;
    display: flex;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    animation: slideIn 1s ease-out;

}

.textembaixo {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texto-embaixo);
    font-weight: normal;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.tp {
    margin-left: 50px;
}

.mãe h1 {
    color: var(--color-azul);
    font-size: 45px;
}

.mãe p {
    font-size: 15px;
    color: var(--color-azul);
    font-weight: 85px;
}

.op2 {
    margin-left: 80px;
}

.op3 {
    margin-left: 80px;
}

.parte1 {
    display: flex;
}

.tituloprincipal {
    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin-bottom: 1%;
    margin-left: 100px;
    color: var(--color-black);
}

.imagemTr {
    display: flex;
    height: 500px;
    width: 500px;
}

.linha {
    margin-left: 90px;
    border-color: rgb(226, 226, 226);
    color: var(--color-black);
}

/* inicio final */

/* importar inicio  */
.tituloimportarnunca {
    text-align: center;
}

.tituloimportar {
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-black);
}

.tituloimportar2 {
    margin-top: 20px;
    font-size: 20px;
    color: var(--texto-embaixo);

}

.divmaeimportanuncafoitaofacil {
    display: flex;
}

.divimportanuncafoitaofacil {
    background-color: var(--bacground-color-white);
    transition: box-shadow 0.4s ease;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1.5px solid rgb(209, 209, 209);
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
    height: 250px;
    margin-left: 200px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.divimportanuncafoitaofacil:hover {
    box-shadow: var(--boz-shadow-oreia-forte2),var(--boz-shadow-oreia-fraco2);
}

.divimportanuncafoitaofacil1 {
    background-color: var(--bacground-color-white);
    border: 1.5px solid rgb(209, 209, 209);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
    height: 250px;
    margin-left: 30px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow 0.4s ease;
}

.divimportanuncafoitaofacil1:hover {
    box-shadow: var(--boz-shadow-oreia-forte2),var(--boz-shadow-oreia-fraco2);
}


.divimportanuncafoitaofacil2 {
    background-color: var(--bacground-color-white);
    border: 1.5px solid rgb(209, 209, 209);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
    height: 250px;
    margin-left: 30px;
    margin-right: 100px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow 0.4s ease;
}

.divimportanuncafoitaofacil2:hover {
    box-shadow: var(--boz-shadow-oreia-forte2),var(--boz-shadow-oreia-fraco2);

}

.iconenumeroprimarioimportar {
    border-radius: 50px;
    margin-left: 330px;
    height: 40px;
}

.iconesecundarioimportar {
    border-radius: 12px;
    width: 70px;
    height: 63px;
    margin-top: 30px;

}

.textonegritoimportar {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    color: var(--color-grey);
}

.textoimportarn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 200px;
    color: var(--color-cinza-claro);
    line-height: 1.6;
}

/*  importar final */

/*Carlos*/
.tokito {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    color: var(--color-black);
}

.tokito2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color: var(--texto-embaixo);
    margin-top: 20px;
}

.tokito3 {
    background: linear-gradient(50deg, var(--tokito-corr), var(--tokito-cor));
    margin-top: 30px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 450px;
    border-radius: 5px;
    color: var(--color-black);
    padding-bottom: 10px;
}

.tokito4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: var(--bacground-color-white);
    padding-left: 50px;
    padding-top: 33px;
}

.tokito5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--color-cinza-claro);
    padding-left: 50px;
}

.tokito6 {
    margin-left: 50px;
    padding-right: 500px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-bottom: 20px;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.tokito7 {
    background: blue, red;
    /* Duas cores de fundo */
    background-size: 50% 100%;
    /* Cada cor ocupa metade da largura */
    background-position: 0 0, 100% 0;
    /* Posiciona a azul na esquerda e a vermelha na direita */
    background-repeat: no-repeat;
    padding-right: 100px;
    margin-left: 75px;
    padding-bottom: 25px;
    padding-top: 15px;
}

/*Carlosfim*/
/*inicio Vantags que Fazem a Diferença*/
.backgroundVantagem {
    background-color: var(--bacground-color-white);

}

.tituloVantagensDiferença {
    text-align: center;
}

.tiituloVantagens1 {
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    padding-top: 60px;
    color: var(--color-black);
}

.tiituloVantagens2 {
    margin-top: 15px;
    font-size: 19px;
    color: rgb(163, 163, 163);
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    font-family: Arial, Helvetica, sans-serif;
}

.divmãeVantagensDiferença {
    display: flex;
}

.divVantagens1 {
    background-color: var(--bacground-color-white);
    border: 1px solid rgba(209, 209, 209, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 450px;
    height: 170px;
    margin-left: 450px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease, border-color 0.3s ease;
}

.divVantagens1:hover {
    box-shadow: var(--boz-shadow-oreia-fraco), var(--boz-shadow-oreia-forte2);
    border-color: rgba(209, 209, 209, 0.2);
}

.divVantagens2 {
    background-color: var(--bacground-color-white);
    border: 1px solid rgb(209, 209, 209, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 450px;
    height: 170px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease, border-color 0.3s ease;
}

.divVantagens2:hover {
    box-shadow: var(--boz-shadow-oreia-fraco), var(--boz-shadow-oreia-forte2);
    border-color: rgba(209, 209, 209, 0.2);
}

.divVantagens3 {
    background-color: var(--bacground-color-white);
    border: 1px solid rgb(209, 209, 209, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 450px;
    height: 170px;
    margin-left: 450px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease, border-color 0.3s ease;
}

.divVantagens3:hover {
    box-shadow: var(--boz-shadow-oreia-fraco), var(--boz-shadow-oreia-forte2);
    border-color: rgba(209, 209, 209, 0.3);
}

.divVantagens4 {
    background-color: var(--bacground-color-white);
    border: 1px solid rgb(209, 209, 209, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 450px;
    height: 170px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease, border-color 0.3s ease;
}

.divVantagens4:hover {
    box-shadow: var(--boz-shadow-oreia-fraco), var(--boz-shadow-oreia-forte2);
    border-color: rgba(209, 209, 209, 0.2);
}

.divDentroVantagens1 {
    display: flex;
    margin-top: 25px;
}

.divDentroVantagens1 img {
    height: 60px;
    width: 60px;
    margin-bottom: 90px;
}

.divDentroVantagens1 p {
    margin-left: 20px;
}

.titulodivVantagens1 {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-grey);
}

.textodivvantagens1 {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 200px;
    color: var(--color-cinza-claro);
    line-height: 1.6;
}

/*Vantagens que Fazem a Diferença fim*/

/*main final*/

/* footer inicio */

footer {
    background-color: rgb(2, 14, 36);
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    color: rgb(225, 234, 241);
}

.footerdivlogo {
    display: flex;
}

.footerdivlogo img {
    height: 50px;
}

footer h1 {
    color: white;
    font-size: 25px;
    font-weight: norma;
}

footer button {
    color: rgb(163, 154, 154);
    border: none;
    background-color: var(--transparente);
    margin-top: 20px;
    transition: color 0, 3s;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.5s ease;
}

footer button:hover {
    border-bottom: 3px solid white;
    border-radius: 5px;
}

footer button:hover {
    color: aliceblue;
}

.emcima1 {
    display: flex;
    padding-top: 40px;

}

.pmaldito {
    margin-top: 20px;
    color: rgb(163, 154, 154);
}

.ultimo {
    display: flex;
    align-items: center;
}

.ultimo p {
    margin-left: 95px;
}

.b1 {
    margin-left: auto;
    margin-right: 90px;
    margin-bottom: 20px;
    transition: all 1s ease;
}

.b3 {
    margin-right: 150px;
    margin-bottom: 20px;
}

.b2 {
    margin-right: 50px;
    margin-bottom: 20px;
}

.t0 {
    margin-left: 100px;
}

.t1 {
    margin-left: 150px;
    margin-right: 150px;
}

.t2 {
    margin-right: 150px;
    margin-left: 150px;
}

.t3 {
    margin-right: 150px;
    margin-left: 150px;
}

.t4 {
    margin-right: 50px;
    margin-left: 150px;
}

.to {
    margin-top: 10px;
    color: rgb(163, 154, 154);
}

.hrmaldito {
    margin-top: 80px;
    margin-top: 80px;
    border: none;
    border-top: 2px solid rgba(76, 80, 88, 0.2);
}
/*fim do footeer
/*começo da tela de importação*/
.bodyimporta {
    min-height: 100vh;
    background-color: #f6fdff;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.ti {
    width: 400px;
    white-space: nowrap;
    font-size: 55px;
    display: block;
    text-align: center;
    margin: 0 auto 0 355px;
}
.si {
    font-size: 20px;
    color: rgb(121, 121, 121);
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
}
/*Tecnologias de Última Geração*/


@media screen and (min-width: 801px) {}